body {
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/restaurant_icons.png');
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 600px;
}

.container p, .container h2 {
  text-align: center;
}
