<!-- Home Page -->
<!doctype html>
<html>
<body>
  <head>
  	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>

  <div class="navbar"><b><a href="home.html" style="text-decoration: none;">PartyLink</a></b></div>

  <div class="button-c">

  <form style="display: inline-block;"><button formaction="https://kareemyoussef.typeform.com/to/JOXGH7" class="button1"></button></form>
  <form style="display: inline-block;"><button formaction="http://imgur.com" class="button2"></button></form>
  </div>


  <p class="question"><a href="why.html">Why would I register my party?</a></p>


</body>
</html>
